/**
 * WordPress editor styles
 */

@use "./reset/variables" as variables;

body {
	font-family: variables.$font-family-base;
}

p {
	margin-block-end: variables.$sm-margin;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border-style: none;
}

pre {
	font-family: monospace;
	font-size: 1em;
	white-space: pre-wrap;
}

code,
kbd,
pre,
samp {
	font-size: variables.$font-size-base;
}

code,
kbd,
pre,
samp {
	font-family: variables.$font-family-base;
	font-size: variables.$font-size-base;
}

blockquote {
	font-style: italic;
}
