.idea/
node_modules/
.sass-cache/
build/**
assets/
hello-elementor/
elementor-hello-theme/
log/
vendor/
.DS_Store
.project
Thumbs.db
*.log
*.map
yarn.lock
assets/js/
*.zip
.npmrc
.env
tmp/
.phpunit.result.cache
!tests/phpunit/hello-elementor
