{
  "extends": "@wordpress/stylelint-config",
  "rules": {
    "selector-class-pattern": null,
    "selector-id-pattern": null
  },
  "overrides": [
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss",
      "plugins": ["stylelint-scss"],
      "rules": {
        "at-rule-no-unknown": null,
        "no-descending-specificity": null,
        "scss/at-rule-no-unknown": true
      }
    }
  ],
  "ignoreFiles": [
    "**/node_modules/**",
    "**/vendor/**",
    "assets/**",
    "coverage/**",
    "tests/**"
  ]
}
