<phpunit
		bootstrap="tests/bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
>
	<php>
		<env name="THEME_FILE" value="functions.php"/>
		<env name="WP_TESTS_DIR" value="./tmp/wordpress-tests-lib"/>
		<env name="WP_TESTS_ELEMENTOR_DIR" value="./tmp/elementor/elementor.php"/>
		<env name="WP_TESTS_HELLOPLUS_DIR" value="./tmp/hello-plus/hello-plus.php"/>
	</php>

	<testsuites>
		<testsuite name="hello-elementor">
			<directory prefix="test-" suffix=".php">./tests/phpunit/hello-elementor/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">./</directory>
			<exclude>
				<directory>.github</directory>
				<directory>assets</directory>
				<directory>bin</directory>
				<directory>build</directory>
				<directory>node_modules</directory>
				<directory>vendor</directory>
				<directory>tests</directory>
			</exclude>
		</whitelist>
	</filter>

</phpunit>
