/**
 * Style for your Customizer editor.
 */

#accordion-section-hello_theme_options .accordion-section-title {
	//border-top: 2px solid #007cba;
	//border-bottom: 2px solid #007cba;
	color: #c36;

	&:after {
		color: #c36;
	}
}

#sub-accordion-section-hello_theme_options.accordion-section-content {
	background: #fff;
}

#customize-control-hello-elementor-header-footer {

	.customize-control-header-footer-holder {
	 	margin: 12px auto 12px;
	 	max-width: 300px;
		text-align: center;
	}
}

#customize-control-hello-elementor-header-footer {

	.elementor-panel-heading-title {
		font-weight: 600;
		margin: 10px 0 4px;
	}
}

#customize-control-hello-elementor-header-footer {

	.elementor-section-body {
		margin: .1em 0 1.3em;
	}
}
