/**
 * Customizer editor styling
 */

#accordion-section-hello_theme_options .accordion-section-title {
	color: #c36;

	&:after {
		color: #c36;
	}
}

#sub-accordion-section-hello_theme_options.accordion-section-content {
	background: #fff;
}

#customize-control-hello-elementor-header-footer {

	.customize-control-header-footer-holder {
	 	margin: 12px auto 12px;
	 	max-width: 300px;
		text-align: center;
	}
}

#customize-control-hello-elementor-header-footer {

	.elementor-panel-heading-title {
		font-weight: 600;
		margin: 10px 0 4px;
	}
}

#customize-control-hello-elementor-header-footer {

	.elementor-section-body {
		margin: .1em 0 1.3em;
	}
}

.create-logo-desc {
	margin-block-start: 10px;
	padding: 10px;
	background: white;
	font-style: italic;

	+ .actions {
		background: white;
		padding: 0 10px 10px;
		margin-block-end: 15px;

		.button {
			margin-block-start: 0;
			width: 100%;
			text-align: center;
		}
	}
}
