/**
 * Customizer editor styling
 */

#accordion-section-hello_elementor .accordion-section-title {
	color: #c36;

	&:after {
		color: #c36;
	}
}

#sub-accordion-section-hello_elementor.accordion-section-content {
	background: #fff;
}

#customize-control-hello_elementor_header_footer {
	margin-block-start: 10px;
	padding-block-start: 20px;
	border-block-start: 1px solid #ddd;

	.customize-control-header-footer-holder {
	 	margin: 12px auto;
	 	max-width: 300px;
		text-align: center;
	}

	.elementor-panel-heading-title {
		font-weight: 600;
		margin: 10px 0 4px;
	}

	.elementor-section-body {
		margin: 0 0 16px;
	}
}
