
/** Menu CSS */
.site-navigation ul.menu li.menu-item-has-children:after {
  display: none;}

img.custom-logo {
  width: 50px;
  height: auto;
  max-width: 400px;
  display: flex;
}

nav.site-navigation a {
  font-size: 14px;
  color: #7A7A7A
}

.site-header .site-navigation {
  justify-content: flex-start;
}

.site-navigation ul.menu li {
  display: block;
}

nav ul li {
  float: inherit !important;
}

[aria-current] {
  font-weight: bold;
}

.menu > .current-menu-item > a {
  font-weight: bold;
  content: '';
  text-decoration: underline solid #c36 3px;
  display: block;
  text-underline-offset: -25px;
}

nav.site-navigation > .menu-de-lugar-nenhum-menu-principal-container > ul > li > a:hover,
nav.site-navigation > .menu-de-lugar-nenhum-menu-principal-container > ul > li.current-menu-ancestor {
  content: '';
  text-decoration: underline solid #ea3974 3px;
  display: block;
  text-underline-offset: -25px;
}

nav.site-navigation li ul a:hover {
  content: '';
  background: #7A7A7A;
  color: #fff;
  transition: width 0.3s ease-in-out;
  text-decoration-thickness: 3px;
  text-decoration-color: #fff;
}

.site-navigation .icon {
  display: none;
}

/* Responsive Menu Toggle */
.site-navigation .menu-de-lugar-nenhum-menu-principal-container,
.site-navigation > input {
  display: none;
}

.site-navigation > label.menu-open {
  display: block;
  font-size: 26px;
  color: black;
  position: absolute;
  right: 10px;
  top: 29px;
  width: 26px;
  padding: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.site-navigation > label.menu-close {
  display: block;
  font-size: 26px;
  color: black;
  position: absolute;
  right: 7px;
  top: 29px;
  width: 26px;
  padding: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.site-navigation > input:checked ~ .menu-de-lugar-nenhum-menu-principal-container  {
  display: block;
  color: #fff;
}

@media (min-width: 1200px) {
  .site-navigation .menu-de-lugar-nenhum-menu-principal-container  {
    display: block;
    float: left;
  }
  .site-navigation > label {
    display: none !important;
  }
  .site-header .site-navigation {
    justify-content: end;
  }
  .site-navigation ul.menu li.menu-item-has-children {
    padding-right: 0px;
  }
}

@media (max-width: 1199px) {
  .site-navigation ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    top: 56px;
    left: 60px;
    width: 84%;
    position: absolute;
    background: white;
		z-index: 1;
  }
  .site-navigation ul.menu li ul {
    position: inherit;
  }
  .site-navigation ul.menu li ul ul {
    background: #fff;
    position: initial;
    float: none;
    display:absolute;
    left:2px
  }
  .site-navigation ul.menu ul.sub-menu li.menu-item-has-children,
  .site-navigation ul.menu ul.sub-menu li.menu-item-has-children ul.sub-menu li.menu-item {
    margin-left: 10px;
  }
  .site-navigation > input:checked ~ label.menu-close,
  .site-navigation > input:not(checked) ~ label.menu-open {
    display:block;
  }
  .site-navigation > input:checked ~ label.menu-open,
  .site-navigation > input:not(checked) ~ label.menu-close {
    display:none;
  }
}

/* home and privacy page CSS*/
.home header.page-header {
  display: none;
}

.page #content > div > img {
  display:none;
}

.recent-posts-home a {
  font-weight: 600;
}

.recent-posts-home li div img {
  border-radius: 4px;
}

.comments-area a, .page-content a {
  text-decoration: none;
}

/* Search Form*/
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  border: none;
  background-color: whitesmoke;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
  padding: 8px;
  background-color: whitesmoke;
  text-overflow: ellipsis;
}

.recent-posts-home .wp-block-latest-posts__post-date {
  display: block;
  font-weight: 400;
  color: #adadad;
}

@media (min-width: 600px) and (max-width: 821px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:only-child) {
    flex-basis: calc(100%)!important;
    flex-grow: 0!important;
    margin: 1%;
  }
  .wp-block-latest-posts.columns-4 li {
    width: calc(47%);
    margin: 1%;
  }
}

@media (max-width: 599px) {
  .wp-block-latest-posts.is-grid li {
    margin: 1%;
  }
}

@media (max-width: 1199px) and (min-width: 600px) {
  .wp-block-latest-posts.columns-3 li {
    width: calc(48%);
    margin: 1%;
  }
  .wp-block-latest-posts.columns-3 li:nth-child(3n) {
    margin-right: 1%;
  }
}

/* Category */
#content > header > h1:not(:first-child),
#content > header > h2, #content > header > h3, #content > header > p,
#content > header > ul {
  display: none;
}

/* Posts */
h1.de-lugar-nenhum-posts {
  font-size: xx-large;
}

.single-post h2,
.single-post h3 {
  font-weight: 600;
}

h3.posts-related-content {
  font-size: inherit;
}

p.ez-toc-title {
  font-weight: bold;
}

a.ez-toc-link {
    font-size: 18px;
}

.post-meta-description {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

.post-meta-description ul {
  align-items: center;
  word-break: initial;
  display: inline-flex;
  text-align: center;
  padding-inline-start: 0px;
}

.post-meta-description ul li:not(:last-child) {
  border-right: 1px solid #ccc;
}

.post-meta-description ul li {
  font-size: smaller;
}

.post-meta-description ul li {
  margin-right: 8px;
  padding-right: 8px;
  list-style: none;
}

.post-meta-description ul li a {
	font-size: 15px;
}

div#ez-toc-container {
  border: 1px solid #aaa;
  padding: 10px;
  background-color: snow;
  width: 100%;
  display: table;
}

#ez-toc-container input {
  position: absolute;
  left: -999em;
}

#ez-toc-container label {
  float: right;
  font-size: 16px;
  cursor: pointer;
  transform: rotate(90deg);
  line-height: inherit;
}

div#ez-toc-container p.ez-toc-title {
  display: contents;
}

.ez-toc-icon-toggle:before {
  content: "❮❯";
  font-style: normal;
  font-size: x-small;
}

#ez-toc-container nav {
  padding-top: 10px;
}

input#item:checked + nav {
  display: none;
}

.author-description {
  text-align: center;
}

.author-description img {
  border-radius: 100%;
}

@media (max-width: 1199px) {
  .de-lugar-nenhum-post-coluna-dois {
    display:none;
  }
  .wp-block-column.de-lugar-nenhum-posts {
    flex-basis: auto!important;
  }
}

.post-tags {
  text-align: center;
}

.post-tags .tag-links a {
  padding-left: 4px;
  text-transform: capitalize;
}

.post-tags .tag-links a:not(:last-child):after {
  content: "|";
  padding-left: 4px;
}

@media (min-width: 600px) and (max-width: 781px){
  .de-lugar-nenhum-colunas:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:only-child) {
    flex-basis: auto!important;
    flex-grow: 0;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-items: center;
	justify-content: center;
}

td {
  word-break: initial!important;
}
/* Archive */

.post-card-de-lugar-nenhum {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  border-radius: 3px;
  border: 0 solid #818a91;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.post-card-de-lugar-nenhum:hover {
  box-shadow: 0 0 30px rgb(0 0 0 / 15%);
}

.post__badge {
  right: 10px;
  top: 10px;
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  background-color: #c36;
  border-radius: 888px;
  font-size: 12px;
  line-height: 1em;
  padding: 0.6em 1.2em;
}

.post__text h2 {
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
}

.post__text,
.post__text p {
  color: #777;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}
.post-card-de-lugar-nenhum .post__meta-data {
  color: #777;
  border-top: 1px solid #eaeaea;
  font-size: 12px;
  line-height: 3em;
  text-align:center;
}

.post__meta-data span + span::before {
  content: "•";
  padding: 10px;
}

.pagination {
  display: inline-flex;
  width: 100%;
  white-space: pre-wrap;
  justify-content: center;
}

.pagination .navigation ul li {
  padding: 5px;
}

.pagination .navigation ul {
  list-style: none;
  display: inline-flex;
  padding: 5px;
}

.container {
  text-align:center;
}

/* General */

@media (min-width: 1200px) {
  .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main {
  max-width: 1140px;
  }
}

html {
  scroll-behavior: smooth;
}

h2.home-page,
.privacy-policy h1,
.privacy-policy h2,
.page-id-2404 h1,
.page-id-2404 h2,
h1.de-lugar-nenhum-posts,
h2.de-lugar-nenhum-posts,
h1.entry-title.archive-title,
h1.entry-title.de-lugar-nenhum-404,
h2.de-lugar-nenhum-posts-404,
h1.entry-title.de-lugar-nenhum-busca,
h2.de-lugar-nenhum-posts-busca
{
  border-style: double;
  border-width: 0 0 6px;
  border-radius: 0 0 0 0;
  font-weight: 600;
}

figcaption {
  font-style: normal;
  text-align: center;
}

span.breadcrumb_last {
  font-weight: normal;
}

main {
  position:relative;
}

p {
  text-align: justify;
  font-size: 18px;
}

li {
  font-size: 18px;
}

.comment-content p {
  font-size: 15px!important;
}

@media (min-width: 1200px) {
  .back-to-top-wrapper {
    display:none;
  }
}

@media (max-width: 1199px) {
  .back-to-top-wrapper {
    position: absolute;
    right: 0.25rem;
    bottom: -5em;
    pointer-events: none;
    top: 110vh;
  }
  a.back-to-top-link {
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 10em);
    display: inline-block;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .7;
    font-size: large;
    padding: 1.25em;
  }
  button#mybtn {
    border-radius: 100%;
    background-color: snow;
    width: 3.5em;
    color: #c36;
    height: 3.5em;
  }
}

/* Descontos */

/* AMP */
@media (max-width: 767px) {
  html[amp] #comments .comment .avatar {
    position: relative;
    float: left;
  }
}

html[amp] .container {
  display: block;
  align-items: center;
  justify-items: center;
}

html[amp] td {
  word-break: initial!important;
}
