/**
 * Post item in archive pages
 */

@use "../reset/variables" as variables;

.post {

	.entry-title a {
		text-decoration: none;
	}

	.wp-post-image {
		width: 100%;
		max-height: 500px;
		object-fit: cover;

		@media ( max-width: ( variables.$screen-md - variables.$screen-diff ) ) {
			max-height: 400px;
		}

		@media ( max-width: ( variables.$screen-xs - variables.$screen-diff ) ) {
			max-height: 300px;
		}
	}
}
