/**
 * Comments
 */

#comments {

	.comment-list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: .9em;
	}

	.comment,
	.pingback {
		position: relative;

		.comment-body {
			display: flex;
			flex-direction: column;
			padding-block-start: 30px;
			padding-block-end: 30px;
			padding-inline-start: 60px;
			padding-inline-end: 0;
			border-block-end: 1px solid $gray-light;
		}

		.avatar {
			position: absolute;
			left: 0;
			border-radius: 50%;
			margin-inline-end: 10px;

			@at-root {

				html[dir="rtl"] &,
				body.rtl & {
					left: auto;
					right: 0;
				}
			}
		}
	}

	.comment-meta {
		display: flex;
		justify-content: space-between;
		margin-block-end: .9rem;
	}

	.reply,
	.comment-metadata {
		font-size: 11px;
		line-height: 1;
	}

	.children {
		position: relative;
		list-style: none;
		margin: 0;
		padding-inline-start: 30px;

		li:last-child {
			padding-block-end: 0;
		}
	}

	ol.comment-list .children {

		&:before {
			display: inline-block;
			font-size: 1em;
			font-weight: normal;
			line-height: 100%;
			content: '\21AA';
			position: absolute;
			top: 45px;
			left: 0;
			width: auto;

			@at-root {

				html[dir="rtl"] &,
				body.rtl & {
					content: '\21A9';
					left: auto;
					right: 0;
				}
			}
		}
	}

	@media (min-width: $screen-sm) {

		.comment-author,
		.comment-metadata {
			line-height: 1;
		}
	}

	@media (max-width: $screen-sm - $screen-diff) {

		.comment .comment-body {
			padding: 30px 0;
		}

		.children {
			padding-inline-start: 20px;
		}

		.comment .avatar {
			position: inherit;
			float: left;

			@at-root {

				html[dir="rtl"] &,
				body.rtl & {
					float: right;
				}
			}
		}
	}
}
