/**
 * Header layout
 */

.site-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: relative;

	&:not(.header-stacked) .site-branding {
		max-width: 30%;
	}

	&:not(.header-stacked) .site-navigation {
		max-width: 70%;
	}

	.site-navigation {
		justify-content: flex-end;
	}

	&.header-inverted {
		flex-direction: row-reverse;

		.site-branding {
			text-align: right;
		}

		.site-navigation {
			justify-content: start;
		}
	}

	&.header-stacked {
	    align-items: center;
		flex-direction: column;
		text-align: center;
	}

	.site-branding {

		.site-title,
		.site-description {
			margin: 0;
		}

		&.show-title {

			.site-logo {
				display: none !important;
			}
		}

		&.show-logo {

			.site-title {
				display: none !important;
			}
		}
	}

	.custom-logo-link {
		display: block;
	}
}

@media (max-width: $screen-xs) {
	.site-header {

		&:not(.header-stacked) .site-branding {
			max-width: 80%;
		}
	}
}
