/**
 * Basic responsive layout
 */

$containers: '.site-header, body:not([class*="elementor-page-"]) .site-main, .site-footer';

#{$containers} {
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: $screen-xs - $screen-diff){

	#{$containers} {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media (min-width: $screen-xs){

	#{$containers} {
		max-width: 500px;
	}
	
	.site-header {

		&.header-full-width {
			max-width: 100%;
		}
	}
	
	.site-footer {

		&.footer-full-width {
			max-width: 100%;
		}
	}
}

@media (min-width: $screen-sm){

	#{$containers} {
		max-width: 600px;
	}
	
	.site-header {

		&.header-full-width {
			max-width: 100%;
		}
	}

	.site-footer {

		&.footer-full-width {
			max-width: 100%;
		}
	}
}

@media (min-width: $screen-md) {

	#{$containers} {
		max-width: 800px;
	}

	.site-header {

		&.header-full-width {
			max-width: 100%;
		}
	}

	.site-footer {

		&.footer-full-width {
			max-width: 100%;
		}
	}
}

@media (min-width: $screen-xl) {
	#{$containers} {
		max-width: 960px;
	}

	.site-header {

		&.header-full-width {
			max-width: 100%;
		}
	}

	.site-footer {

		&.footer-full-width {
			max-width: 100%;
		}
	}
}

.site-header + .elementor  {
	min-height: calc( 100vh - 320px );
}
