/**
 * Utility styles
 */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: $gray-lighter;
		clip: auto !important;
		clip-path: none;
		color: $gray-dark;
		display: block;
		font-size: $font-size-base;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 12px 24px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
